<!--- header --->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Django Blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   
  </head>
  <body>
    <!-- Top Bar -->
    <div class="top-bar">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <a href="{% url 'home'%}" class="blog-name">World Stories</a>
          <div>
            <button class="btn btn-login me-2">Login</button>
            <button class="btn btn-register">Register</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Navigation Categories -->
    <div class="nav-categories">
      <div class="container">
        <nav class="nav d-flex justify-content-between">
          {% for cat in categories %}
          <a class="nav-link" href="#">{{ cat.category_name }}</a>
          {% endfor %}
        </nav>
      </div>
    </div>

<!--- Main Content --->
{% block content %}


{% endblock content %}



<!--- Footer --->
<footer class= 'blog footer'><center>Built By Anish</center></footer>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>