{% extends "base.html" %}

{% block content %}

<div class="container">

    <!-- Featured Post -->
    {% for post in featured_posts %}
        {% if forloop.first %}
        <div class="featured-post-section"
             style="background-image: url({{ post.featured_image.url }});">
            <div class="featured-post-content">
                <h1>{{ post.title }}</h1>
                <p>{{ post.short_description }}</p>
                <a href="{% url 'blogs' post.slug %}">Continue reading...</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <!-- Featured Posts -->
    <h3 class="text-uppercase text-danger bold" style="letter-spacing: 2px">
        Featured Posts
    </h3>

    <div class="row mb-2">
        {% for post in featured_posts %}
            {% if not forloop.first %}
            <div class="col-md-6 mb-3">
                <div class="post-card">
                    <h3><a href="{% url 'blogs' post.slug %}"  style="text-decoration: none; color : green;">{{ post.title|truncatewords:7 }}</a></h3>
                    <div class="post-meta">
                        {{ post.created_at|timesince }} ago | {{ post.author }}
                    </div>
                    <p>{{ post.short_description|truncatewords:30 }}</p>
                    <a href="{% url 'blogs' post.slug %}">Continue reading...</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Recent Articles -->
    <h3 class="text-uppercase text-danger bold" style="letter-spacing: 2px">
        Recent Articles
    </h3>

    <div class="row">

        <!-- Posts -->
        <div class="col-md-7">
            {% for post in posts %}
            <div class="card border-0 mb-3 ">
                <h2><a href="{% url 'blogs' post.slug %}"  style="text-decoration: none; color : green;">{{ post.title|truncatewords:7 }}</a></h2>
                <div class="post-meta">
                    {{ post.created_at|timesince }} ago | {{ post.author }}
                </div>
                <p>{{ post.short_description|truncatewords:20 }}</p>
                <a href="{% url 'blogs' post.slug %}">Continue reading...</a>
            </div>
            {% endfor %}
        </div>

        <!-- Sidebar -->
        <div class="col-md-5">
            <div class="sidebar-about mb-4">
                <h4>About</h4>
                <p>Etiam porta sem malesuada magna mollis euismod.</p>
            </div>

            <div class="sidebar-about">
                <h4>Follow Us</h4>
                <ul class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>

{% endblock %}
