{% extends "base.html" %}

{% block content %}
<style>
    @keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0.3; }
    100% { opacity: 1; }
}

.nav-link.blink-hover:hover {
    animation: blink 0.6s infinite;
}
</style>

<div class="container mt-3">   <!-- IMPORTANT -->

    <div class="row">
        <!-- Left Sidebar -->
        <!-- Load this side bar here-->

        {% include 'dashboard/sidebar.html' %}

        <!-- Right Side -->
        <div class="col-md-9">
            <div class="row"> <!-- Create a nested row -->
                <!-- First Card -->

                 <h2><center>All Categories</center></h2>
                <table class="table table-hover">
                   
  <thead>

    <tr>
      <th scope="col">S.N</th>
      <th scope="col">Category Name</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- We have context processor and we can take category from there-->
    {% for cat in categories%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{cat}}</td>
      <td>{{cat.created_at}}</td>
      <td>{{cat.updated_at}}</td>
      <td>
       <a href="#"> <i class="fas fa-edit text-success"></i></a>
        &nbsp; 
        &nbsp; 
        <a href="#"><i class="fas fa-trash text-danger"></i></a>
    
      
    </td>

    </tr>
    {% endfor %}
  </tbody>
</table>
                
            </div>
        </div>
    </div>

{% endblock content %}
